<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<br>
<br>
<div class="container">
 
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="./../../assets/BIKE.jpg" alt="Lights" style="width:200px;height:200px">
          <div class="caption">
            
          </div>
        
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="./../../assets/CAR.jpg" alt="Lights" style="width:200px;height:200px">
          <div class="caption">
            
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        
          <img src="./../../assets/furniture.jpg" alt="Lights" style="width:200px;height:200px">
          <div class="caption">
            
          </div>
        
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
     
          <img src="./../../assets/APARTMENTS.jpg" alt="Lights" style="width:200px;height:200px">
          <div class="caption">
          
          </div>
        
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
       
          <img src="./../../assets/electronics.jpg" alt="Lights" style="width:200px;height:200px">
          <div class="caption">
        
          </div>
        
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
      
          <img src="./../../assets/jobs.jpg" alt="Lights" style="width:200px;height:200px">
          <div class="caption">
        
          </div>
        
      </div>
    </div>
  </div>
</div>

</body>
