

<ul>
  <li><a class="active" routerLink="/home">Home</a></li>
  
   <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Category</a>
    <div class="dropdown-content">
      <a href="#">Car</a>
      <a href="#">Bike</a>
      <a href="#">Furniture</a>
      <a href="#">Electronics</a>
      <a href="#">Books</a>
      <a href="#">Flats</a>
       <a href="#">Others</a>
    </div>
  </li>
  <li><a href="contact">Contact</a></li>
  <li><a href="#about">About</a></li>
  <li><a routerLink="form-upload" routerLinkActive="active">Add product</a></li>
  <li><a routerLink="cars" routerLinkActive="active">Cars</a></li>
   <li style="float:right"><a routerLink="/Login">LOGIN</a></li>

   

    
    <li class="nav-item">
      
      <a routerLink="signup" routerLinkActive="active">Sign Up</a>
    </li>
    <li>
    <a routerLink="login" routerLinkActive="active">Login</a>
     </li>
     <li class="nav-item">
      
      <a routerLink="list" routerLinkActive="active">List Users</a>
    </li>
  <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form mt-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </div>
    </form>
  
  </ul>

 