<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form  #addressForm="ngForm" name="form" #f="ngForm" novalidate class="address-form">
        
        <div class="form-group">
            <label for="addressLineOne">address:</label>
            <input type="text"
                    id="addressLineOne"
                    class="form-control"
                    name="addressLineOne"
                    [(ngModel)]="adrDets.addressLineOne"
                    placeholder="addressLineOne" required>
        </div>
        <div class="form-group">
          <label for="addressLineTwo"></label>
          <input type="text"
                  id="addressLineTwo"
                  class="form-control"
                  name="addressLineTwo"
                  [(ngModel)]="adrDets.addressLineTwo"
                  placeholder="addressLineTwo" required>
      </div>
      <div class="form-group">
        <label for="city">city:</label>
        <input type="text"
                id="city"
                class="form-control"
                name="city"
                [(ngModel)]="adrDets.city"
                placeholder="city" required>
    </div>
    <div class="form-group">
      <label for="state">state:</label>
      <input type="text"
              id="state"
              class="form-control"
              name="state"
              [(ngModel)]="adrDets.state"
              placeholder="state" required>
  </div>
  <div class="form-group">
    <label for="country">country:</label>
    <input type="text"
            id="country"
            class="form-control"
            name="country"
            [(ngModel)]="adrDets.country"
            placeholder="country" required>
</div>
<div class="form-group">
  <label for="postal_code">postal_code:</label>
  <input type="number"
          id="postal_code"
          class="form-control"
          name="postal_code"
          [(ngModel)]="adrDets.postalCode"
          placeholder="postal_code" required>
</div>
<div class="form-group">
  <label for="user_id">user_id:</label>
  <input type="number"
          id="user_id"
          class="form-control"
          name="user_id"
          [(ngModel)]="adrDets.userId"
          placeholder="user_id" required>
</div>



<button (click)="saveAddress(adrDets,addressForm)" class="btn btn-info pull-right">
          
           <span>submit</span> 
        </button>
      </form>
    </div>
    </div>
    </div>
      
