<div [hidden]=!ishidden>
  <form #userForm="ngForm">
  <table>
    <tr>
      <td>Email:</td>
  
      <td><input type="text" [(ngModel)]="user.email" name="email"></td>    </tr>
  
        
        <tr>  <td>Password:</td><td><input type="password" [(ngModel)]="user.password" name="password" /></td></tr>
         <tr><td><button class="btn btn-primary" (click)="onLogin">Submit</button></td><td><button class="btn btn-primary" (click)="onForgot()">Forgot password</button></td></tr>
  </table>
    </form>
  </div>
  <div [hidden]=ishidden>
    <h2>Enter your email</h2>
    <input type="text" [(ngModel)]="user.email" name="email"><br>
    <button class="btn btn-primary" (click)="onEmail(user.email)">Sent OTP</button>
  
  </div>

  <div [hidden]=otpwindow>
    <input type="text" [(ngModel)]="userOTP" name="userOTP"><br>
    <button class="btn btn-primary" (click)="onConfirmOTP(s)">Confirm OTP</button>
    <p>{{OTPstatus}}</p>
  </div>