 <a href="#" class="list-group-item clearfix" >
        
           
                <h4 class="list-group-item-heading">{{product.productName}}</h4>
                <hr>
            
               
         
        
                <img src="./../../assets/{{product.imagePath}}" 
                alt={{product.productName}} class="img-responsive" style="max-height: 400px;">
               <p class="list-group-item-text">Price:{{product.productPrice}}</p>
                   <p class="list-group-item-text">{{product.productDescription}}</p>
           
             <button class="btn btn-primary">Add to cart</button>	&nbsp;<button class="btn btn-primary">Buy Now</button>
            </a>
