<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
<form #userForm="ngForm" name="form">
<div class="form-group">
  <label for="firstName">FirstName</label>
  <input type="text" class="form-control" id="firstName"
  [(ngModel)]="user.firstName" name="firstName">
  <span [hidden]="user.firstName">Please Enter FirstName.</span>
                      <br/>
</div>  

<div class="form-group">
    <label for="lastName">LastName</label>
    <input type="text" class="form-control" id="lastName"
    [(ngModel)]="user.lastName" name="lastName">
    <span [hidden]="user.lastName">Please Enter LastName.</span>
                      <br/>
  </div> 
  
  <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email"
      [(ngModel)]="user.email" name="email">
      <span [hidden]="user.email">Please Enter Email.</span>
                      <br/>
    </div>  

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password"
        [(ngModel)]="user.password" name="password">
        <span [hidden]="user.password">Please Enter Password.</span>
                      <br/>
      </div>  

      <div class="form-group">
          <label for="contactNumber">Contact No.</label>
          <input type="text" class="form-control" id="contactNumber"
          [(ngModel)]="user.contactNumber" name="contactNumber">
          <span [hidden]="user.contactNumber">Please Enter Contact Number.</span>
                      <br/>
        </div> 
        <div class="form-group">
          <label for="file">File Upload:</label>
          <input type="file" class="form-control" accept="image/*" (change)="onSelectFile($event)" style="height:100%" multiple>



        </div>

         


          <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="saveUser(user)" [disabled]="!user.firstName || !user.lastName || !user.email || !user.password || !user.contactNumber">Submit</button>
          </div>
</form>
</div>
</div>
</div>